.wrapper {
  background: linear-gradient(
    hsla(216, 33%, 16%, 0.8),
    hsla(216, 75%, 8%, 0.8)
  );
  border-bottom: 1px solid hsla(255, 100%, 100%, 0.1);
  position: fixed;
  top: 0;
  inline-size: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--s-2);
  inline-size: clamp(343px, 90%, 1080px);
  margin-inline: auto;
}

.navBar {
  display: none;
  margin: 0;
}

.navLink,
.navButton {
  list-style: none;
}

.leftSide {
  display: flex;
  gap: var(--s0);
}

@media (min-width: 768px) {
  .navBar {
    display: flex;
  }
}
