@import '_functions.scss';
body {
  background: var(--dark-bg);
  color: var(--dark-content);
  font-family: var(--ff-primary);
}


.sam-headshot > *, .rupert-headshot > * {
  width: 250px;
  filter: 
    drop-shadow(var(--phased-effect-1))
    drop-shadow(var(--phased-effect-2))
    drop-shadow(var(--phased-effect-3))
  ;
}

h3 > svg {
  width: 1em;
}

.card__hero-img {
  width: 100%;
}

// https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100..900;1,100..900&display=swap

// family=Rubik:ital,wght@0,100..900;1,100..900