@import '_functions.scss';

// Stack - used for multiple elements on top of each other

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--stack-space, var(--s1));
}

// Box - used for anything that requires padding on all 4 sides

.box {
  padding: var(--s1);
  // high contrast modes have no bg-colour. As such, add a transparent border
  // here that only shows up in high contrast mode to maintain usability.
  outline: 5px solid transparent;
  outline-offset: -5px; 
  color: var(--dark-content);
  background-color: var(--dark-bg);
}

.box * {
  color: inherit;
}

.box.light {
  color: var(--light-content);
  background-color: var(--light-bg);
}

// Center - used for anything that needs horizontally centering.

.center {
  // override the default box-sizing as content-box makes more sense here.
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--desktop);
  padding-inline: var(--center-padding);
}

// Cluster - used for any elements of differing lengths that are liable to wrap.

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

// Switcher: used for any elements that need to move from a horizontal to 
// vertical layout at a certain threshold

.switcher {
  --switcher-gap: var(--s1);
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gap);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((67.375rem - 100%) * 999);
}

.switcher > :nth-last-child(n + 4),
.switcher > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
}

// Cards - self-explanatory

.cards {
  display: grid;
  grid-gap: var(--s0);
}

@supports (width: min(250px, 100%)) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

// Icons

.icon {
  width: 1.5ex;
  height: 1.5ex;
}

// visually hide elements only for screen-readers

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}