@import '_functions.scss';

:root {
  /* ---------------------------------------------------------------------- */
  /*                                 Colours                                */
  /* ---------------------------------------------------------------------- */

  /* ----------------------------- Raw values ----------------------------- */

  --clr-primary-100: hsla(192, 90%, 95%, 1);
  --clr-primary-200: hsla(220, 6%, 82%, 1);
  --clr-primary-300: hsla(192, 90%, 77%, 1);
  --clr-primary-500: hsla(192, 37%, 48%, 1);
  --clr-primary-700: hsla(216, 33%, 16%, 1);
  --clr-primary-900: hsla(216, 75%, 8%, 1);

  --clr-secondary-100: hsla(44, 100%, 95%, 1);
  --clr-secondary-300: hsla(43, 100%, 85%, 1);
  --clr-secondary-500: hsla(44, 32%, 71%, 1);

  --clr-tertiary-500: hsla(33, 99%, 70%, 1);
  --clr-tertiary-600: hsla(34, 71%, 61%, 1);
  --clr-tertiary-800: hsla(358, 99%, 71%, 1);

  /* ------------------------------ Gradients ----------------------------- */

  --gradient-strong: 
    linear-gradient(
      90deg,
      var(--clr-tertiary-800),
      var(--clr-tertiary-500),
      var(--clr-tertiary-800)
  );
  --gradient-highlight:
    linear-gradient(
      90deg,
      var(--clr-secondary-100),
      var(--clr-secondary-300)
  );
  --gradient-cta: 
    linear-gradient(
    0deg,
    var(--clr-primary-300),
    var(--clr-primary-500)
  );

  /* --------------------------- Defined values --------------------------- */

  --dark-bg: var(--clr-primary-900);
  --dark-content: var(--clr-secondary-300);
  --light-bg: var(--gradient-highlight);
  --light-content: var(--clr-primary-900);


  /* ---------------------------------------------------------------------- */
  /*                               Dimensions                               */
  /* ---------------------------------------------------------------------- */

  /* ---------------------------- Screen sizes ---------------------------- */

  --desktop: 80rem;
  --mobile: 23.4375rem;

  /* -------------------------------- Scale ------------------------------- */

    --ratio: 1.5; // how much the dimensions increase/decrease by
    --s-2: calc(var(--s-1) / var(--ratio)); // 0.4444444445rem
    --s-1: calc(var(--s0) / var(--ratio)); // 0.6666666667rem
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio)); // 1.5rem
    --s2: calc(var(--s1) * var(--ratio)); // 2.25rem
    --s3: calc(var(--s2) * var(--ratio)); // 3.375rem
    --s4: calc(var(--s3) * var(--ratio)); // 5.0625rem
    --s5: calc(var(--s4) * var(--ratio)); // 7.59375rem

  /* ------------------------------- Gutters ------------------------------ */

  --g-sm: var(--s-1);
  --g-md: var(--s0);
  --g-lg: var(--s1);
  --g-xl: var(--s2);
  --g-xxl: var(--s3);

  /* ---------------------------------------------------------------------- */
  /*                                  Fonts                                 */
  /* ---------------------------------------------------------------------- */

  /* ------------------------------ Families ------------------------------ */

  --ff-primary: "Rubik", sans-serif;
  --ff-secondary: "Quicksand", sans-serif;

  /* -------------------------------- Sizes ------------------------------- */

  --fs-md: var(--s0);
  --fs-lg: var(--s1);
  --fs-xl: var(--s2);
  --fs-xxl: var(--s3);

  /* ---------------------------- Line heights ---------------------------- */

  
  --lh-sm: 85%;
  --lh-md: 150%;

  /* ------------------------------- Weights ------------------------------ */

  --fw-reg: 400;
  --fw-bold: 700;

  /* ---------------------------------------------------------------------- */
  /*                               Decorative                               */
  /* ---------------------------------------------------------------------- */

  /* -------------------------------- Radii ------------------------------- */

  --rad-sm: var(--s-1);
  --rad-md: var(--s0);

  /* ------------------------------- Shadows ------------------------------ */

  --box-shadow-dark-bg: 0px 0px 18px hsla(360, 0, 0, 0.2);
  --box-shadow-light-bg: 0px 0px 15px hsla(360, 0, 0, 0.15);
  --glow-cta: 0px 0px 25px var(--clr-primary-300);

  --phase-gap: var(--s-1);

  --phased-effect-1: var(--phase-gap) var(--phase-gap) 0px var(--clr-tertiary-800);
  --phased-effect-2: var(--phase-gap) var(--phase-gap) 0px var(--clr-tertiary-500);
  --phased-effect-3: var(--phase-gap) var(--phase-gap) 0px var(--clr-secondary-300);
}
