/* latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/quicksand.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/quicksand.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/rubik.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/rubik.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  /* ---------------------------------------------------------------------- */
  /*                                 Colours                                */
  /* ---------------------------------------------------------------------- */
  /* ----------------------------- Raw values ----------------------------- */
  --clr-primary-100: hsla(192, 90%, 95%, 1);
  --clr-primary-200: hsla(220, 6%, 82%, 1);
  --clr-primary-300: hsla(192, 90%, 77%, 1);
  --clr-primary-500: hsla(192, 37%, 48%, 1);
  --clr-primary-700: hsla(216, 33%, 16%, 1);
  --clr-primary-900: hsla(216, 75%, 8%, 1);
  --clr-secondary-100: hsla(44, 100%, 95%, 1);
  --clr-secondary-300: hsla(43, 100%, 85%, 1);
  --clr-secondary-500: hsla(44, 32%, 71%, 1);
  --clr-tertiary-500: hsla(33, 99%, 70%, 1);
  --clr-tertiary-600: hsla(34, 71%, 61%, 1);
  --clr-tertiary-800: hsla(358, 99%, 71%, 1);
  /* ------------------------------ Gradients ----------------------------- */
  --gradient-strong:
    linear-gradient(
      90deg,
      var(--clr-tertiary-800),
      var(--clr-tertiary-500),
      var(--clr-tertiary-800)
  );
  --gradient-highlight:
    linear-gradient(
      90deg,
      var(--clr-secondary-100),
      var(--clr-secondary-300)
  );
  --gradient-cta:
    linear-gradient(
    0deg,
    var(--clr-primary-300),
    var(--clr-primary-500)
  );
  /* --------------------------- Defined values --------------------------- */
  --dark-bg: var(--clr-primary-900);
  --dark-content: var(--clr-secondary-300);
  --light-bg: var(--gradient-highlight);
  --light-content: var(--clr-primary-900);
  /* ---------------------------------------------------------------------- */
  /*                               Dimensions                               */
  /* ---------------------------------------------------------------------- */
  /* ---------------------------- Screen sizes ---------------------------- */
  --desktop: 80rem;
  --mobile: 23.4375rem;
  /* -------------------------------- Scale ------------------------------- */
  --ratio: 1.5;
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  /* ------------------------------- Gutters ------------------------------ */
  --g-sm: var(--s-1);
  --g-md: var(--s0);
  --g-lg: var(--s1);
  --g-xl: var(--s2);
  --g-xxl: var(--s3);
  /* ---------------------------------------------------------------------- */
  /*                                  Fonts                                 */
  /* ---------------------------------------------------------------------- */
  /* ------------------------------ Families ------------------------------ */
  --ff-primary: "Rubik", sans-serif;
  --ff-secondary: "Quicksand", sans-serif;
  /* -------------------------------- Sizes ------------------------------- */
  --fs-md: var(--s0);
  --fs-lg: var(--s1);
  --fs-xl: var(--s2);
  --fs-xxl: var(--s3);
  /* ---------------------------- Line heights ---------------------------- */
  --lh-sm: 85%;
  --lh-md: 150%;
  /* ------------------------------- Weights ------------------------------ */
  --fw-reg: 400;
  --fw-bold: 700;
  /* ---------------------------------------------------------------------- */
  /*                               Decorative                               */
  /* ---------------------------------------------------------------------- */
  /* -------------------------------- Radii ------------------------------- */
  --rad-sm: var(--s-1);
  --rad-md: var(--s0);
  /* ------------------------------- Shadows ------------------------------ */
  --box-shadow-dark-bg: 0px 0px 18px hsla(360, 0, 0, 0.2);
  --box-shadow-light-bg: 0px 0px 15px hsla(360, 0, 0, 0.15);
  --glow-cta: 0px 0px 25px var(--clr-primary-300);
  --phase-gap: var(--s-1);
  --phased-effect-1: var(--phase-gap) var(--phase-gap) 0px var(--clr-tertiary-800);
  --phased-effect-2: var(--phase-gap) var(--phase-gap) 0px var(--clr-tertiary-500);
  --phased-effect-3: var(--phase-gap) var(--phase-gap) 0px var(--clr-secondary-300);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--stack-space, var(--s1));
}

.box {
  padding: var(--s1);
  outline: 5px solid transparent;
  outline-offset: -5px;
  color: var(--dark-content);
  background-color: var(--dark-bg);
}

.box * {
  color: inherit;
}

.box.light {
  color: var(--light-content);
  background-color: var(--light-bg);
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--desktop);
  padding-inline: var(--center-padding);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

.switcher {
  --switcher-gap: var(--s1);
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gap);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((67.375rem - 100%) * 999);
}

.switcher > :nth-last-child(n+4),
.switcher > :nth-last-child(n+4) ~ * {
  flex-basis: 100%;
}

.cards {
  display: grid;
  grid-gap: var(--s0);
}

@supports (width: min(250px, 100%)) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}
.icon {
  width: 1.5ex;
  height: 1.5ex;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  background: var(--dark-bg);
  color: var(--dark-content);
  font-family: var(--ff-primary);
}

.sam-headshot > *, .rupert-headshot > * {
  width: 250px;
  filter: drop-shadow(var(--phased-effect-1)) drop-shadow(var(--phased-effect-2)) drop-shadow(var(--phased-effect-3));
}

h3 > svg {
  width: 1em;
}

.card__hero-img {
  width: 100%;
}

nav {
  font-family: var(--ff-secondary);
}

/*# sourceMappingURL=main.css.map */
