@import url("reset.css");
@import url("fonts.css");
@import url("customProperties.css");
@import url("layoutPrimitives.css");

/* ---------------------------------------------------------------------- */
/*                              BASIC STYLING                             */
/* ---------------------------------------------------------------------- */

body {
  background: var(--dark-bg);
  color: var(--dark-content);
  font-family: var(--ff-primary);
}

h3 > svg {
  width: 1em;
}

.card__hero-img {
  width: 100%;
}
